RewriteEngine On
RewriteBase /
RewriteCond $1 !^(js|images|css|favicon)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule ^/(.*\.(jpg|png|gif|ico))$ /$1 [L]
RewriteRule ^(.*)$ /index.php?$1 [L]